@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

#landing-jumbo{
    text-align: center;
    background-image: url("./backgroundLanding.jpg");
    clear: both;
    margin-top: 2px;
    padding-top: 160px;
    height: 600px;
    color: white;
    font-size: 40px;
}
#landing-form{
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin-right: 5px;
    border-radius: 10px;
}

i{
    margin: 30px;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#ecochef-jumbo{
    font-family: 'Dancing Script', 'cursive';
}

h1 {
    font-size: 70px;
    animation-name: fadeIn;
    animation-duration: 6s;
}

h3 {
    font-size: 40px;
    animation-name: fadeIn;
    animation-duration: 6s;
}

#landing-search-btn{
    font-size:27px;
    border-radius: 10px;
}


