nav{
    margin-bottom: 10px;
    background-color: rgb(60, 60, 180);
}

.nav-title-uchef{
    font-family: 'Dancing Script', 'cursive';
    font-size: 45px;
}

#login, #signup{
    margin-left: 20px;
    margin-right: 20px;
}


