nav{
    margin-bottom: 10px;
}

.nav-title-uchef{
    font-family: 'Dancing Script', 'cursive';
    font-size: 45px;
}

#login, #signup{
    font-size: 20px;
    float: right;
    width: 300px;
    padding: 10px;
}