#landing-jumbo{
    text-align: center;
    background-image: url("./backgroundLanding.jpg");
    clear: both;
    margin-top: 5px;
    padding-top: 160px;
    height: 600px;
    color: white;
    font-size: 40px;
}

i{
    margin: 30px;
}

#ecochef-jumbo{
    font-family: 'Dancing Script', 'cursive';
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 40px;
}
